@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');
:root{
    --color-blue:rgba(42, 178, 175, 0.83);
    --color-green:rgb(192, 223, 52);
    --color-grey:rgb(152, 166, 189);
    --color-lightwhite:#ffffff94;
}
*,
*::after,*::before{
    box-sizing: border-box;
}
body{
    background:rgb(229, 239, 245);
    background-image: url("https://i.ibb.co/3Cbd7gX/bg-top.png"), url("https://i.ibb.co/jGJKtgy/bg-bottom.png");
    background-repeat: no-repeat;
    background-size: 26.5%, 26.5%;
    background-position: top 0 right -1rem, bottom -4.7rem left -1.9rem;
    font-family: 'Karla', sans-serif;
}
.container {
  text-align: center;
  margin-top: 50px;
}
 h1 {
  font-size: 2.4rem;
}
 h2 {
  font-size: 18px;
}
 .search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 .search-container input {
  padding: 5px;
  margin-right: 10px;
}
 .weather-card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background: rgba(42, 178, 175, 0.83);
}
 .weather-card h3 {
  font-size: 16px;
  color: var(--color-green);
}
 .weather-card p {
  font-size: 14px;
  color: var(--color-lightwhite);
}
button{
    margin: .25rem;
    background-color: var(--color-green);
    padding: .25rem;
    
    
    color: black;
}
.text--yellowgreen{
    color: rgb(192, 223, 52);
}
input,button{
    font-family: inherit;
    border-radius: 3px;
    border: 0;
    outline: 0;
}